# Virtual environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Reports (optional: you might want to keep final_report.md in Git)
reports/figures/

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor specific
.vscode/
.idea/
